h2 {
	padding: 	50px;
	margin: 20px;
}
.grad1 {
	background: linear-gradient(90deg, rgba(192,251,255,1) 0%, rgba(17,13,85,1) 100%);
}
.grad2 {
	background: linear-gradient(180deg, rgba(249,255,195,1) 0%, rgba(255,214,0,1) 25%, rgba(255,111,0,1) 50%, rgba(172,55,0,1) 75%, rgba(201,21,21,1) 100%);
}
.grad3 {
	background: radial-gradient(circle, rgba(178,255,253,1) 0%, rgba(154,0,255,1) 50%, rgba(254,125,134,1) 100%);
}