h1 {
	font-size: 40px;
	background-color: lightblue;
	text-align: center;
}
.long {
	width: 500px;
}
#goal {
	background-color: red;
}
:root {
	scroll-behavior: smooth;
}
p {
	background-color: grey;
}
img {
	width: 1000px;
	border: 10px dashed red;
}
ul {
	background-color: darkblue;
}
li {
	background-color: lightblue;
	color: white;
}