h1 {
	color: red;
	text-align: center;
	font-size: 50px;
}
h2 {
	color: red;
	font-size: 20px;
}
body {
	background-color: lightyellow;
}
img {
	width: 300px;
	height: 200px;
	float: left;
	border: 10px double red;
	margin: 2px;
}
p {
	font-size: 15px;
	color: orange;
}
.right {
	float: right;
}
ol {
	color: orange;
	font-size: 15px;
}
ul {
	color: orange;
	font-size: 15px;
}